<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboard.mapper.CommentMapper">
    <select id="getCommentList" parameterType="com.example.springboard.dto.request.CommentListRequest" resultType="com.example.springboard.dto.response.CommentResponse">
        select a.*, b.nickname
        from comments as a
        left join user as b
            on a.uid = b.uid
        where a.post_no = #{postNo} and a.time_deleted is null
        order by a.comment_no desc
        limit #{startCommentNo}, #{limit}
    </select>

    <insert id="insertComment" parameterType="com.example.springboard.vo.Comment">
        insert into comments(
                             uid,
                             post_no,
                             content,
                             guest_id,
                             guest_pw
        ) values (
                  #{uid},
                  #{postNo},
                  #{content},
                  #{guestId},
                  #{guestPw}
                         )
        <selectKey keyProperty="commentNo" resultType="int" order="AFTER">
            select last_insert_id()
        </selectKey>
    </insert>
</mapper>