<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springboard.mapper.TokenMapper">
    <select id="findByRefreshToken" resultType="com.example.springboard.vo.User">
        select *
        from user
        where uid=(
            select uid
            from token
            where refresh_token = #{refreshToken}
            )
    </select>

    <insert id="saveRefreshToken">
        insert into token(
            uid,
            refresh_token
        ) values(
                #{uid},
                #{refreshToken}
                )
    </insert>

    <delete id="deleteRefreshToken">
        delete from token
        where refresh_token = #{refreshToken}
    </delete>
</mapper>